# virtual envs
.venv/
venv/
env/

# python cache & notebooks
__pycache__/
*.pyc
.ipynb_checkpoints/

# local artifacts / runs / reports
artifacts/
mlruns/
models/mlruns/
*.html
*.log

# OS junk
.DS_Store
.venv/
